.feedContainer {
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}

.feedContainer::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .feedContainer {
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
  }
}